body{
	padding: 7.7rem 0 3rem 0 !important;
}

@media screen and (max-width: 1024px){
	body{
		padding: 5.4rem 0 2.5rem 0 !important;
	}
}

@media screen and (max-width: 40em) {
    .productTable thead, .adminTable thead {
        display: none;
    }

    .productTable th,  td {
        display: block;
		text-align: center;
		justify-content: center;
    }

	.productTable td:nth-child(1)[data-th]:before,
	.productTable td:nth-child(2)[data-th]:before  {
        content: attr(data-th);
		display: none;
    }

	.productTable td:nth-child(1),
	.productTable td:nth-child(2) {
		font-weight: bold;
		text-align: center;
		padding-bottom: 0;
    }

	.productTable td:nth-child(1) {
		font-size: medium;
	}
	.productTable td:nth-child(2) {
		font-size: small;
    }

	.productTable td[data-th]:before,
	.adminTable td[data-th]:before
	  {
        content: attr(data-th);
		font-weight: bold;
		margin-right: 10px;
    }

	.admin_data tr td{
		display: block;
		text-align: start;
	}

	.admin_data td[data-th]:before  {
        content: attr(data-th);
    }

}